---
import { Image } from "astro:assets";
import jbmcontadoresLogo from "@/assets/logo.svg";
import config from "@/config/config.json";
const {
  logo_width,
  logo_height,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a
  aria-label="Logo jbmcontadores"
  href="/"
  class="navbar-brand block md:w-[150px] lg:w-auto"
>
  <Image
    width={logo_width.replace("px", "") * 2}
    height={logo_height.replace("px", "") * 2}
    src={jbmcontadoresLogo}
    alt={title}
    style={{
      height: logo_height.replace("px", "") + "px",
      width: logo_width.replace("px", "") + "px",
    }}
  />
</a>
