<div class="flow-root">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div
      class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
    >
      <dt class="font-medium text-gray-900">
        <strong>Necesito:</strong>
      </dt>
      <dd class="text-gray-700 sm:col-span-2">
        <strong>Lugar:</strong>
      </dd>
    </div>

    <div
      class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
    >
      <dt class="font-medium text-gray-900">✔ Certificado de estar al día</dt>
      <dd class="text-gray-700 sm:col-span-2">DGI</dd>
    </div>

    <div
      class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
    >
      <dt class="font-medium text-gray-900">✔ Tarjeta de RUT</dt>
      <dd class="text-gray-700 sm:col-span-2">DGI</dd>
    </div>

    <div
      class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
    >
      <dt class="font-medium text-gray-900">✔ Certificado de estar al día</dt>
      <dd class="text-gray-700 sm:col-span-2">BPS</dd>
    </div>

    <div
      class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
    >
      <dt class="font-medium text-gray-900">
        ✔ Foto del documento de identidad.
      </dt>
      <dd class="text-gray-700 sm:col-span-2">--</dd>
    </div>
    <div
      class="grid grid-cols-1 gap-1 py-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
    >
      <dt class="font-medium text-gray-900">
        ✔ Respaldo del origen de los ingresos (facturas, estados de cuenta, u
        otros documentos).
      </dt>
      <dd class="text-gray-700 sm:col-span-2">
        Si no sabes cómo obtenerlo te podemos asesorar y ayudar a solicitarlos
        de manera online en DGI y BPS
      </dd>
    </div>
  </dl>
</div>
