<div class="flex gap-5 md:gap-2 mr-1">
  <a
    type="button"
    aria-label="acceso Whatsapp"
    title="LLamada telefonica 092 - 319 - 043"
    href="tel:+59892319043"
  >
    <svg
      class="w-8
    h-8
    opacity-80
    hover:scale-125
    hover:opacity-100
    transition"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke-width="2"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke="currentColor"
    >
      <path
        d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
      ></path>
      <path d="M11 4h2"></path>
      <path d="M12 17v.01"></path>
    </svg>
  </a>
  <a
    aria-label="envìar email"
    type="button"
    target="_blank"
    title="Envíar Email"
    href="mailto:crjbm@outlook.com"
  >
    <svg
      class="w-8 h-8 opacity-80 hover:scale-125 hover:opacity-100 transition"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    >
      <path
        d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
      ></path>
      <path d="M3 7l9 6l9 -6"></path>
    </svg>
  </a>

  <a
    aria-label="Enviar mensaje por Instagram"
    target="_blank"
    title="Instagram"
    href="https://www.instagram.com/jbmcontadores/"
    target="_blank"
  >
    <svg
      class="w-8 h-8 opacity-80 hover:scale-125 hover:opacity-100 transition"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      width="24"
      height="24"
      stroke-width="2"
    >
      <path
        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
      ></path>
      <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
      <path d="M16.5 7.5l0 .01"></path>
    </svg>
  </a>
</div>
